{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <span><a href="{{ path('app_article', {'id': article.id} ) }}" >{{ article.title }}</a> published by {{ article.source }} on {{ article.publishedAt|date('Y-m-d') }}</span>
    <p>{{ article.content }}</p>
{% endblock %}
