{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Articles
{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script>

        class TitleRenderer  {

            eGui;
            init(params) {
                this.eGui = document.createElement('span');
                this.eGui.innerHTML = `<a href="/article/${params.data.id}">${params.data.title}</a>`;
            }

            getGui() {
                return this.eGui;
            }

            refresh(params) {
                return false;
            }
        }


        const articles = [];
        {% for article in articles %}
        articles.push(
            {
                id: "{{ article.id }}",
                title: "{{ article.title }}",
                source: "{{ article.source }}",
                publishedAt: "{{ article.publishedAt }}",
            }
        )
        {% endfor %}

        // Grid Options: Contains all of the Data Grid configurations
        const gridOptions = {
            // Row Data: The data to be displayed.
            rowData: articles,
            // Column Definitions: Defines the columns to be displayed.
            columnDefs: [
                {
                    field: "title",
                    cellRendererSelector: (params) => {
                        return {
                            component: TitleRenderer,
                        };
                    },
                },
                { field: "source" },
                { field: "publishedAt" },
            ],
            // enables pagination in the grid
            pagination: true,

            // sets 10 rows per page (default is 100)
            paginationPageSize: 10,

            // allows the user to select the page size from a predefined list of page sizes
            paginationPageSizeSelector: [10, 20, 50, 100],
            domLayout: "autoHeight",
        };

        // Your Javascript code to create the Data Grid
        const myGridElement = document.querySelector('#myGrid');
        agGrid.createGrid(myGridElement, gridOptions);

    </script>
{% endblock %}
